.page1 {
    height: 237px;
  }
  @media (min-width: 660px) {
    .page1{
    height: 440px;
    }
  }
  @media (min-width: 1200px) {
    .page1{
    height: 394px;
    }
  }
  .promo{
    width: 100%;
    height: 171px;
    margin: 0 auto;
    padding-top: 36px;
    box-sizing: border-box;
    padding-left:46px;
    padding-right: 46px;
    padding-bottom:51px;
  }
  .promo-content {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  @media (min-width: 660px) {
    .promo {
      height: 330px;
      padding-top: 81px;
      padding-bottom:74px;
    }
    .promo-content {
      font-size: 50px;
    }
  }
  @media (min-width: 1200px) {
    .promo {
      height: 284px;
      padding-top: 74px;
      padding-bottom:104px;
    }
  }

  .application {
    height: 179px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 54px 20px;
  }
  
  .application-content {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-align: center;
  }
  .application-content-dop{
    display: none;
  }

  @media (min-width: 660px) {
    .application {
      height: 255px;
      padding-top: 100px;
      padding-left: 85px;
      padding-right: 85px;
      padding-bottom:82px;
    }
    .application-content {
      font-size: 18px;
    }
    .application-content-dop{
    display: block;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-align: center;

      }
  }
  @media (min-width: 1200px) {
    .application {
      height: 238px;
      padding-top: 100px;
      padding-left: 222px;
      padding-right: 222px;
      padding-bottom: 95px;

    }
    .application-content {
        width: 756px;
      }
  }

  form {
    width: 276px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #ffffff;
   
  }
  
  label {
    display: block;
    margin-bottom: 17px;
    margin-top:27px;
    margin-left:21px;
    color:#d22856;
    font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
text-align: left;

  }
  
  input,
  textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 2px 5px;
  
    font-family: "Roboto", sans-serif;
  
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  input[type="text"] {
    height: 24px;
  }